.card {
    margin: 10% 10% 5% 10%;
    box-shadow:  11px 11px 25px #d6d6d6a2, -11px -11px 25px #ffffff;
}

.card-text {
    color: hsl(240, 38%, 20%);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 28px;
    text-align: left;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

#auth-name {
    font-weight: 700;
    font-size: 20px;
}

#auth-job {
    color: hsl(240, 18%, 77%);
    font-weight: 300;
    font-size: 20px;
}

.testimonial-container {
    z-index: 2;
    position: absolute;
    width: 520px;
    top: 30%;
    left: 8%;
}

.testimonial-div1, .testimonial-div2 {
    display: inline-block;
}

#pattern-quotes {
    z-index: 0;
    position: absolute;
    top: 21%;
    left: 17%;
}

#image-auth1, #image-auth2 {
    z-index: 1;
    position: absolute;
    top: 13%;
    left: 40%;
}

#pattern-bg {
    z-index: 0;
    position: absolute;
    top: 5%;
    left: 34%;
}

.btn-group {
    z-index: 2;
    position: absolute;
    top: 107%;
    left: 50%;
}

.btn {
    width: 55px;
    transition-duration: 0.4s;
    background-color: #f4f4fc !important;
}

.btn:hover {
    background-color: #ded3f5 !important;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

/* Responsive Design + Media Queries */

@media screen and (max-width:500px) {
    #pattern-bg {
        width: 95%;
        top: 2%;
        left: 2.5%;
    }
    #pattern-quotes {
        width: 80px;
        top: 55%;
        left: 40%;
    }
    #image-auth1, #image-auth2 {
        width: 75%;
        top: 6%;
        left: 14%;
    }
    .card-text {
        font-size: 18px;
        text-align: center;
    }
    #auth-name, #auth-job {
        font-size: 15px;
    }
    .testimonial-div1, .testimonial-div2 {
        display: block;
    }
    .testimonial-container {
        top: 60%;
        left: 0;
        padding: 10px;
        width: 100% !important;
    }
    .card-img-bottom {
        width: 100% !important;
    }
    .btn-group {
        top: 48%;
        left: 34%;
    }
}
